@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@layer base {
  body {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
}

@variant dark (&:where(.dark, .dark *));

/* Custom scrollbar globally to prevent layout shift */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f3f4f6; /* Light mode track */
}

::-webkit-scrollbar-thumb {
  background: #d1d5db; /* Light mode thumb */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9ca3af; /* Light mode thumb hover */
}

/* Custom scrollbar colors for dark mode */
.dark ::-webkit-scrollbar-track {
  background: #090b0e;
}

.dark ::-webkit-scrollbar-thumb {
  background: #11161d;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #1a202c;
}